section{
    width:80%;
    height:800px;
    /*background-image: url("https://plus.unsplash.com/premium_photo-1762487283482-840943bd5180?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position:right;*/
    background: center/20% no-repeat url("https://plus.unsplash.com/premium_photo-1762487283482-840943bd5180?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), blueviolet;
    margin: 0 auto;
}
h1{
    font-size:100px;
    color:white;
}