body{
    font-family:'Open Sans', sans-serif;
}
h1{
    text-align:center;
}
#container{
    background-color:#003049;
    width:90%;
    height:300px;
    margin:0 auto;
    border: 5px solid #003049;
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;
    align-items: flex-start;

}
#container div{
    width:100px;
    height:100px;
    text-align:center;
    font-size: 4em;
}
div:nth-of-type(2){
    align-self:center;
}
div:nth-of-type(3){
    align-self:flex-end;
}