h2{
    color: #5fCFCC;
    background-color:rgb(67, 73, 64);

}
button{
    color:magenta;
    background-color:cyan;
}
p{
    color:brown;
    background: orange;
}
boydy{
    background-color:rgb(239, 218, 245);
}