h1{
    text-align:center;
    font-weight:400;
    text-decoration: #808080 underline wavy 1px;
    letter-spacing: 10px;
    font-size:50px;
    font-family: Futura, sans-serif;
}
p{
    text-align:right;
    line-height: 1.5;
}
a{
    text-decoration:none;
}
